.logoContainer {
    display: flex; /* flex */
    align-items: center; /* items-center */
  }
  
  .logoIcon {
    height: 2rem; /* h-8 */
    width: 2rem; /* w-8 */
    color: rgba(234, 179, 8, 1); /* text-yellow-400 */
  }
  
  .logoText {
    margin-left: 0.5rem; /* ml-2 */
    font-size: 1.25rem; /* text-xl */
    font-weight: 700; /* font-bold */
    color: rgba(255, 255, 255, 1); /* text-white */
  }
  